@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.hatch-background {
    padding-top: 100%;
position: relative;


}

.front {
    background: center/cover url('../img/xmas2.jpg');
    position: absolute;
    top: 0;
    z-index: 2;

    &.open {
        transform: rotateY(180deg);
    }


}

  .front  p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Courgette', cursive;
        color: $color-light;
        padding: 20px;
        width: 50%;
        height: 50%;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.7);
        font-weight: 700;
        font-size: 4rem;
    }

  

.back {
    position: absolute;
    background: center/cover url('../img/xmas11.jpg');
    top: 0px;
    left: 0px;
    z-index: 1;
    transform: rotateY(180deg);

    &.open {
        z-index: 2;
        transform: rotateY(0deg);
    }

    p {
        font-family: 'Courgette', cursive;
        font-weight: 100;
        color: $color-light;
        padding: 10px;
        font-size: 1.4rem;
        text-align: center;
    }
}

.hatch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    transform-style: preserve-3d;
    border-radius: 20px;
    border: 1px solid $color-light;
    box-sizing: border-box;
    cursor: pointer;



}

%btn-shared {

    border-radius: 5px;
    padding: 5px;
    border: $color-dark solid 1px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-family: 'Courgette', cursive;
    font-size: large;
    cursor: pointer;

    &:hover {
        background: rgb(0, 70, 23);

    }

}

.btn {
    &-close {
        @extend %btn-shared;
        background-color: green;
     
        margin-top: 40px;
        &:hover {
            color: $color-light
        }

    }
    &-overlay {
        @extend %btn-shared;
        background-color: #B3000C;
        color: $color-light

        
       
    }  
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
 
}

.hatch-content {
    display: grid;
  
    
        width: 50%;
        height: 50%;
        border: solid $color-dark 1px;
        color: $color-dark;
        background: rgba(255, 103, 103, 0.9);
        font-family: 'Courgette', cursive;
        border-radius: 5px;
        box-shadow: 0 0 5px $color-dark; 
        position: absolute;    
        padding: 2rem;
        top: 50%;
        left: 50%;
        font-size: x-large;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);   
}

#popup-img {
  
    border: 2px solid $color-dark;
    height: 30vh;
  
 
}




