@import '../variables';

.footer {
    height: 3rem;
    width: 100%;
    background: $color-dark;
    padding: 1rem;
    .licence {
        width: 33%;
        font-size: 11px;
        color: $color-light;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}