.footer {
    width: 100%;
    background: rgba(0, 0, 0, 0.692);
    display: flex;
    justify-content: space-between;
    position: fixed;
    margin-bottom: 0;
    bottom: 0;
    margin-top: 20px;
    padding: 1rem;

    .licence {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: rgb(211, 211, 211);
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}